#body {
    background-color: #1c2852;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
}

#header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 150px;
    background-color: #233163;
    padding-top: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
}

#logo {
    height: 120px;
    width: auto;
}

.nav-text {
    height: 120px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.poppins-weak {
    color: white;
    font-size: 25px;
    font-family: poppins;
    font-weight: 300;
    text-decoration: none;
}

.poppins-bold {
    color: #8e9fe2;
    font-size: 100px;
    font-family: poppins;
    font-weight: 600;
    text-decoration: none;
    padding: 0px;
}

#nav-display {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

#tag-line-text {
    width: 1000px;
    margin: 0px;
}

#tag-line-text-font-2 {
    width: 800px;
    color: #8e9fe2;
    font-size: 25px;
    font-family: poppins;
    text-decoration: none;
}

#tag-line {
    width: 1000px;
    height: 500px;
    margin-right: 100px;
}

#tag-line-container {
    display: flex;
    align-items: center;
}

#about-us {
    width: 100%;
    height: auto;
    border-radius: 30px;
    background-color: white;
    margin-top: 300px;
    padding-left: 20px;
    padding-bottom: 40px;
}

#T-Cs {
    font-family: poppins;
    color: white;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #233163;
}

#ab-text {
    font-family: poppins;
    color: #1c2852;
    font-size: 80px;
}

#ab-text-secondary {
    font-family: poppins;
    color: #1c2852;
    font-weight: 300;
    font-size: 40px;
    width: 90%;
}

.bold {
    font-weight: 600;
}

.bold-large {
    font-size: 50;
    font-weight: 600;
}